.carousel-bg {
  background-color: #303030;
}
.half-width {
  width: 50%;
}
.asid-menu {
  position: sticky;
  top: 0;
}
.asid-menu a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 765px) {
  .half-width {
    width: 100%;
  }
}
