.carousel-bg {
  background-color: #303030;
}
.half-width {
  width: 50%;
}
.asid-menu {
  position: -webkit-sticky;
  position: sticky;
  height: 92vh;
  top: 40px;
}
.asid-menu a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 765px) {
  .half-width {
    width: 100%;
  }
  .asid-menu {
    position: static;
    height: 100%;
  }
}
